### Запрос на выгрузку из Базы данных и сохранение в csv

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-final-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'], 
                                                         db_config['pwd'], 
                                                         db_config['host'], 
                                                         db_config['port'], 
                                                         db_config['db'])

engine = create_engine(connection_string)

In [9]:

# Текст запроса для нахождения количества книг, выпушенных после 01.01.2000  
query = '''
            select count(*) from books
            where publication_date > '2000-01-01'
            
            '''

In [15]:
data_visits = pd.io.sql.read_sql(query, con = engine)
print('Количество книг, выпушенных после 01.01.2000, - {}'.format(data_visits['count'][0]))

Количество книг выпушенных после 01.01.2000 - 819

In [16]:
# Текст запроса для нахождения количества пользовательских обзоров и средней оценки для каждой книги   
query = '''
            select count(*) from reviews
            
            '''

In [17]:
data_visits = pd.io.sql.read_sql(query, con = engine)
print('Количество пользовательских обзоров  - {}'.format(data_visits['count'][0]))

Количество пользовательских обзоров  - 2793

In [25]:
query = '''
            select book_id, avg(rating) as avg_rating from ratings
            group by book_id
            order by avg_rating 
            
            '''

In [26]:
data_visits = pd.io.sql.read_sql(query, con = engine)
data_visits

     book_id  avg_rating
0        303        1.50
1        202        2.00
2        371        2.00
3        316        2.00
4        915        2.25
..       ...         ...
995      182        5.00
996      599        5.00
997       62        5.00
998      913        5.00
999      441        5.00

[1000 rows x 2 columns]

In [68]:
query = '''
            select publisher from publishers
            where publisher_id in (
            
            select publisher_id from books
            where num_pages > 50
            group by publisher_id
            order by count(book_id) DESC
            limit 1
            )
            
            '''

In [69]:
data_visits = pd.io.sql.read_sql(query, con = engine)
data_visits

       publisher
0  Penguin Books

In [7]:
data_visits.to_csv('dash_visits.csv')